.button-root-container, .filled {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0em 0.8em;
    margin: 0.5em;
    border-width: 0.05em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: var(--on-background-color-faded);
    background: none;
    background: none;
    outline: none;
    transition: 150ms ease all;
    cursor: pointer;
}

.filled {
    background-color: var(--accent-color);    
    border: none;
}

.filled:hover {
    opacity: 0.75;
}

.button-root-container:hover {
    border-color: var(--on-background-color);
    background-color: rgba(0, 0, 0, 0.04);
}

.button-text {
    font-family: TitleFont;
    color: var(--on-background-color);
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 100%;
    object-fit: cover; 
    margin: 0;   
    padding-bottom: 0.4em;
    padding-top: 0.7em;
    transition: 300ms ease all;
}

.light {
    color: var(--background-color);
}

.button-image {
    height: 1.2em;
    width: 1.2em;
    object-fit: contain;
    margin-right: 0.6em;
}

.button-icon-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    padding: 0.5em;
    border: none;
    background: none;
    outline: none;
    transition: 150ms ease all;
}

.button-icon-style:hover {
    background: white;
    border-radius: 0.4em;
    box-shadow: 0em 0em 0.5em #ddd;
}

.button-icon {
    height: 1.5em;
    width: 1.5em;
    object-fit: contain;
    transition: 150ms ease all;
}

.button-icon:hover {
    /* height: 2em; */
    /* width: 2em; */
}