.button-root-container {
    padding: 0;
    margin: 1em;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: var(--accent-color);
    background-color: var(--background-color);
    outline: none;
}

.button-root-container:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.button-text {
    font-family: TitleFont;
    color: var(--on-background-color);
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 1em;
    object-fit: cover; 
    margin: 0;   
    padding: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.7em;
}

.button-text:hover {
    color: var(--background-color);
}