body {
    margin: 0;
    padding: 0;
}

.auth-root-container {
    display: flex;
    background-image: radial-gradient(circle, #9dfffc, #8bf1ed, #79e2dd, #67d4ce, #54c6bf);         /* background-color: var(--background-color); */
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
}

.auth-logo-image {
    width: 10em;
    margin-bottom: 0.4em
}

.auth-tagline-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--accent-color);
    opacity: 0.7;
    margin-bottom: 1em
}