body {
    margin: 0;
    padding: 0;
}

.auth-root-container {
    display: flex;
    background-image: linear-gradient(to right bottom, #3bfff8, #60fcfb, #7bf8fd, #93f5fc, #a7f1fa);
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
}

.auth-logo-image {
    width: 10em;
    margin-bottom: 0.5em;
    opacity: 0.9;
}

.auth-tagline-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--accent-color);
    opacity: 0.8;
    margin-bottom: 1em
}