.home-root-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    /* background-color: var(--background-color); */
    background-image: linear-gradient(to left bottom, #fafcff, #f7fbff, #f3fbff, #eefaff, #eafaff);
    min-height: 100vh;
}

.home-content {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
}

.home-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--on-background-color);
    padding: 0;
    font-weight: 600;
    margin: 1% 0%;
}

.home-text-faded {
    color: var(--on-background-color-faded);
    font-size: 0.8em;
}

.home-product-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 35em;
    overflow-y: scroll;
    padding: 1em 0;
    margin: 0 2em;
}

.self {
    margin-top: 1em;
    width: 23em;
    height: 60vh;
    background-color: rgba(10, 15, 50, 0.1);    
    border-radius: 0.3em;
    border-top-width: 1em;
    border-color: var(--on-background-color);
}

.home-product-list::-webkit-scrollbar {
    width: 0em;
}

.home-product-list::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #ddd;
}

.home-product-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-color);
}

.home-product-list-top {
    top: 5em;
}

.home-product-list-bottom {
    top: 42em;
}

.home-product-list-top, .home-product-list-bottom {
    position: absolute;
    width: 32em;
    height: 3em;
    background-color: var(--background-color);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}