.product-form-root-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left bottom, #00ffc1, #00ebdd, #00d5ed, #00bdf0, #00a3e3);
    align-items: center;
    justify-content: center;
    height: 100vh
}

.product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0em 0em 0.4em #818181;
    background-color: var(--background-color);
    opacity: 0.95;
    border-radius: 1em;
    padding: 1.3em;
    margin: 1em;
}

.product-form-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-form-logo {
    height: 1.7em;
    margin-right: 0.8em;
}

.product-form-header-text {
    font-family: TitleFont;
    color: var(--on-background-color);
    font-size: 2em;
    padding-top: 0.3em;
    margin: 0.2em;
    margin-left: 0;
}

.product-form-field-container {
    display: flex;
    position: relative;
    border-width: 0.5em;
    border-radius: 0.3em;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 0.3em;
    margin: 1em;
    border-color: var(--on-background-color-faded);
    background-color: var(--background-color);
    outline: none;
}

.product-form-label-focused {
    display: flex;
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    pointer-events: none;
    margin: 0 0.25em;
    padding: 0 0.25em;
    top: -0.75em;
    font-size: 0.8em;
    border-radius: 100px;
    color: var(--on-background-color-faded);
    background-color: var(--background-color);
}

.product-form-select {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    outline: none;
    background: none;
    width: 31.5em;   
    padding: 0.8em;
    border: none;
}

.product-form-option {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border: none;
    padding: 0.5em;
}